:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

::ng-deep {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  }

  p,
  span,
  div {
    color: #ffffff;
  }

  .error-message {
    color: #ff6b6b;
  }
}

